* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  position: relative;
  animation: fadeInAnimation ease 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  background-color:mintcream;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.logo-container img {
  width: 5vw;
  position: relative;
}

header {
  background-color: #005555;
}

nav {
  display: flex;
  flex-wrap: nowrap;
}

.nav-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.nav-buttons-container ul {
  display: flex;
  list-style-type: none;
  padding-right: 8%;
}

.nav-buttons-container a {
  text-decoration: none;
  color: #A1E3D8;
  padding-left: 3vw;
  padding-right: 3vw;
}

nav > div > ul > li {
  background-color: #F7FF93;
  padding: 0px 20px 0px 20px;;
  border-radius: 10px;
}

nav > div > ul > li:hover {
  font-weight: bold;
  background-color: #A1E3D8;
  border-radius: 16px;
  transform: scale(1.25);
  transition: ease 250ms;
}

li.opcion {
  float: left;
  margin: 0px 20px;
  border: 2px solid #777777;
  box-shadow: 6px 6px 1px -1px rgba(0,0,0,0.48);
}

a.opcion {
  display: block;
  padding: 5px;
  color: #005555;
  font-size: 18px;
}

h1 {
   margin-bottom: 2vh;
  text-align: center;
}

.container-title-description {
  background-color: mintcream;
  margin: 0 auto;
  padding: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.flip-card-content {
  background-color: transparent;
  width: 100%;
  height: 330px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: auto;
  border-radius: 10px;
}

.flip-card-inner-content div > img, iframe {
  width: 100%;
  height: 330px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
}

.flip-card-inner-content {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
  
.flip-card-content:hover .flip-card-inner-content {
  transform: rotateY(180deg);
}
  
.flip-card-front-content, .flip-card-back-content {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
}
  
.flip-card-front-content {
  background-color: mintcream;
  color: black;
}
  
.flip-card-back-content {
  background-color: mintcream;
  color: white;
  transform: rotateY(180deg);
}

.container-places {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  padding-left: 10vw;
  padding-right: 10vw;
  grid-auto-rows: auto;
  grid-gap: 25px;
}

.first-place-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.second-place-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.third-place-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 25px;
  grid-gap: 25px;
}

.container-iframes {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  padding-left: 10vw;
  padding-right: 10vw;
  grid-auto-rows: auto;
  grid-gap: 25px;
}

.container-button-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.a-view-more-content {
  background-color: #F7FF93;
  padding: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #005555;
  border: none;
  border-radius: 3px;
  margin-right: 1vw;
  margin-bottom: 1vh;
  align-self: flex-end;
  text-decoration: none;  
}

footer {
  background-color: #005555;
  color: #A1E3D8;
}

.scroll-container {
  position: absolute;
  top: 0;
  right: 12%;
  height: 100%;
}

.scroll-container:before {
  content: '';
  display: block;
  height: 105vh;
  pointer-events: none;
}

.scroll-container a {
  position: sticky;
  top: 75vh;
  cursor: pointer;
  font-size: 40px;
  color: transparent;
  background: url(../assets/up-arrow.png) no-repeat;
}

.container-rights {
  padding-top: 2vh;
  display: flex;
  justify-content: space-around;
}
.container-links {
  display: flex;
  justify-content: space-around;
  padding: 2vw;
  padding-bottom: 5vh;
}
.container-links a {
  display: grid;
  justify-items: center;
  text-decoration: none;
  color: #A1E3D8;
}

.descript-container {
  padding: 5px;
  background-color: #005555;
  color: #A1E3D8;
  align-items: center;
  align-self: center;    
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
}

.descript-container h2 {
  color: #F7FF93;
  margin: 10px;
  text-decoration: none;
}

.descript-container p {
  margin: 10px;
}

.yt-iframe, iframe {
  width: 100%;
  border: none;
  margin: auto;
}